{% extends "layout.html" %}
{% block body %}


<h2 class="mdl-typography--display-1">ダッシュボード</h2>
<p>ダッシュボード機能ベータ版。グラフは順次追加します。</p>

<div class="mdl-grid">
<div class="demo-content mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--6-col">
<h6 class="mdl-typography--title">病棟別　出来高対比</h6>
<div id="compbyochart"></div>
</div>


<div class="demo-content mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--6-col">
<h6 class="mdl-typography--title">診療科別　出来高対比</h6>
<div id="compkachart"></div>
</div>


<div class="demo-content mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--6-col">
<h6 class="mdl-typography--title">病棟別　収益分布</h6>
<div id="perbyochart"></div>
</div>


<div class="demo-content mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--6-col">
<h6 class="mdl-typography--title">診療科別　収益分布</h6>
<div id="perkachart"></div>
</div>

<div class="demo-content mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--6-col">
<h6 class="mdl-typography--title">MDC2別　DPC入院料</h6>
<div id="mdc2dpcchart"></div>
</div>


<div class="demo-content mdl-color--white mdl-shadow--4dp mdl-cell mdl-cell--6-col">
<h6 class="mdl-typography--title">診療科別　DPC入院料</h6>
<div id="kadpcchart"></div>
</div>


</div>

<script type="text/javascript" charset="utf8" src = "{{ url_for('static', filename='plotgraph.js') }}">
</script>



{% endblock %}