{% extends "layout.html" %}
{% block body %}


<h1 class="mdl-card__title-text">クエリ発行ページ</h1>

<li><a href = "{{ url_for('download_csv') }}">CSVダウンロード</a></li>


<form action="{{ url_for('multi_query') }}"  method="post">
<p>クエリ選択<br>{{ query_name }}

{% for query_name in query_keys %}
   <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for= {{ query_name }}>
   <input type="radio" class="mdl-radio__button" name="q1" id={{ query_name }} value={{ query_name }} >  
   <span class="mdl-radio__label">{{ query_name }}</span>
   </label>
   <br>
{% endfor %}

</p>
 <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit" name='trigger' value="on">クエリ実行</button>
 </form>


 
<div class="tablecontainer">

<h2>{{ select_query_name|safe }}</h2>
</div>

 
<h1 class="mdl-card__title-text">クエリデータ</h1>
<div class="tablecontainer">
{{ query_data|safe }}
</div>

<script>
$(document).ready(function(){
$('.dataframe').dataTable(
{
iDisplayLength : -1
}
);
});
 </script>


{% endblock %}
<!--
 <form action="{{ url_for('stack_tables') }}"  method="post">
 アクション：
<input type="radio" name="stack" value="on" /> on　
 <input type="submit" value="実行ボタン">
 </form>
 -->